body {
  margin: 1rem;
}

.gallery {
  columns: 6 300px;
  column-gap: 1rem;
  
}

.item {
  white-space: nowrap;
}

.info { 
  white-space: pre-line;
  font-family: 'Helvetica';
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  margin-bottom: 4rem;
}

img {
  width: 100%;
}