body {
  margin: 0;
}

.gallery {
  position: fixed;
  display: inline-block;
  white-space: nowrap;
  width: 100vw;
  overflow: scroll;
  height: 200vh;
}

.item {
  display: inline-block;
  margin: 0 1rem;
}

.info { 
  white-space: pre-line;
  font-family: 'Helvetica';
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
}
.info.top {
  margin-bottom: 5px;
}
.info.bottom {
  margin-top: 5px;
}

img {
  height: 75vh;
  max-width: 100vw;
}